
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


    

.titulo{
    font-family: 'Montserrat', sans-serif;
    color: brown;

}
.subtitu{
    font-family: 'Poppins', sans-serif;
}
.btn{
    background-color: brown;
}